*.pyc
*~
*.root
ConfidenceIntervals.C
*.pdf
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
ConfidenceInterval_C.d
ConfidenceInterval_C_ACLiC_dict_rdict.pcm
ConfidenceIntervals_C.d
ConfidenceIntervals_C.so
ConfidenceIntervals_C_ACLiC_dict_rdict.pcm
Gr_CL.png
Ifit_C.d
Ifit_C.so
Ifit_C_ACLiC_dict_rdict.pcm
Ifit_cc.d
Ifit_cc.so
Ifit_cc_ACLiC_dict_rdict.pcm
Makefile
Ratio_DATA_Kidonakis.png
Ratio_DATA_Lipka.png
Ratio_DATA_Mitov.png
Ratio_DATA_NNLO.png
Ratio_DATA_PWHGP8.png
Ratio_DATA_Pecjak.png
SampleFitPlots.png
chi2fit_c.d
cmake_install.cmake
contour.png
covariance_matrix.png
expFit.cc
expFit_cc.d
myFitMINUIT.C
testUnfold1.ps
testUnfold1_C.d
